<style>
    #table-6
    {
        /*width: 100%*/
        border: 1px solid #B0B0B0;
        font-family:Arial;
    }
    #table-6 tbody
    {
        /* Kind of irrelevant unless your .css is already doing something else */
        margin: 0;
        padding: 0;
        border: 0;
        outline: 0;
        font-size: 100%;
        vertical-align: baseline;
        background: transparent;
    }
    #table-6 thead
    {
        text-align: left;
    }
    #table-6 th:hover
    {
        cursor:pointer;
    }
    #table-6 thead th
    {
        background: -moz-linear-gradient(top, #F0F0F0 0, #DBDBDB 100%);
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #F0F0F0), color-stop(100%, #DBDBDB));
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#F0F0F0', endColorstr='#DBDBDB', GradientType=0);
        /* border: 1px solid #B0B0B0; */
        color: #444;
        font-size: 16px;
        font-weight: bold;
        padding: 3px 10px;
    }
    #table-6 td
    {
        padding: 3px 10px;
        text-align:center; 
        vertical-align:middle;
    }
    #table-6 tr:nth-child(even)
    {
        background: #F2F2F2;
    }
    .FIRPyLogo
    {
        /* width:80px; */
        margin-left:3px; 
        color:#FF5113; 
        padding-bottom:2px; 
    }
</style>